<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            {{/* contoh penggunaan actions */}}
            <td>{{"Name"}}</td>
            <td>: {{.Name}}</td>
        </tr>

        {{/*contoh pembuatan variable di dalam template*/}}
        <tr>
            <td>Gender</td>
            {{$gender := .Gender}}
            <td style="text-transform: capitalize;">:
                {{$gender}}
            </td>
        </tr>

        {{/*contoh perulangan pada template*/}}
        <tr>
            <td>Hobbies</td> <td>:
                {{range $index, $elem := .Hobbies}}
                    {{$elem}},
                {{end}}
            </td>
        </tr>

        {{/*pengaksesan property variable objek*/}}

        <tr>
            <td>Affiliation</td>
            <td>: 
                {{.Info.Affiliation}} ({{.Info.GetAffiliationDetailInfo}})
            </td>
        </tr>

        {{/*penggunaan keyword with*/}}

        {{with .Info}}
        <tr>
            <td>Address</td>
            <td>: 
                {{.Address}}
            </td>
        </tr>
        {{end}}

        {{/*seleksi kondisi pada template*/}}

        {{if eq .Name "Bruce Wayne"}}
        <tr>
            <td colspan="2" style="font-weight: bold;">
                I'm the Batman
            </td>
        </tr>
        {{end}}
    </table>
</body>
</html>