{{define "about"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{template "_header"}}
</head>
<body>
    {{template "_message"}}
    <p>Page: About</p>
    <p>Welcome {{.name}}</p>
</body>
</html>
{{end}}