{{define "hoby"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoby</title>
</head>
<body>
    <form action="/proccess_hoby" method="post">
        <label for="hoby">Hoby :</label>
        <input type="text" name="hoby" />
        <button type="submit">post</button>
    </form>
</body>
</html>
{{end}}

{{define "show_hoby"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show hoby</title>
</head>
<body>
    <h1>Hobi kamu adalah : <span style="color: crimson;">{{.hoby}}</span> </h1>
</body>
</html>
{{end}}