{{define "form"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INput Message</title>
</head>
<body>
    <form action="/process" method="post">
        <label for="name">Name :</label>
        <input type="text" placeholder="Type name here" name="name" required />

        <label for="message">Message :</label>
        <input type="text" placeholder="Type message here" name="message" required />
        <br/>

        <button type="submit">Print</button>
    </form>
</body>
</html>
{{end}}

{{define "result"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Message</title>
</head>
<body>
    <h1>Hello {{.name}}</h1>
    <p>{{.message}}</p>
</body>
</html>
{{end}}