<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latihan</title>

    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <p class="blue">Message from index : {{.message}}! </p>
</body>
</html>